<!DOCTYPE html>
<html>
<link rel= "stylesheet" type= "text/css" href= "static/css/Stylesheet.css">
<head>
<style> 
#myDIV {
  width: 1940px;
  height: 1100px;
  background: blue;
  animation: mymove .05s infinite;
}

@keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}
  
}
</style>
<a style="color:black; font-size:100pt" href="https://www.youtube.com/watch?v=2FjGdDNROoM"></a>
</head>
<body>
<img src="static\images\among us cake.gif" alt="cakey" width="900" height="100"
<p><br><a href="https://www.youtube.com/watch?v=2FjGdDNROoM">U Digg?</a></p>
<div id="myDIV"></div>
<button1 onclick="location.href = 'http://127.0.0.1:5000/';">go back</button1>
</body>
</html>
