<!DOCTYPE html>

<html>
<link rel= "stylesheet" type= "text/css" href= "static/css/Stylesheet.css">

<body>

<h2>Halloween</h2>

<p>This lightbulb creates Life </p>

<p>The Buttons help you change lives with the BULB OF LIFE</p>

<button onclick="location.href = 'http://127.0.0.1:5000/p2';">Turn on the light</button>

<img id="myImage" src="static/images/pic_bulboff.gif" style="width:100px">
<img src="static/images/batbg.png" style="float: left; width: 250px; position:absolute; left: -1450px; top:350px;">
<img src="static/images/batbg.png" style="float: left; width: 250px; position:absolute; left: 1250px; top:350px;">

<button onclick="document.getElementById('myImage').src='static/images/pic_bulbon.gif'">Turn off the light</button>


<h4>
    Click below to view the doggy gallery
</h4>
<button5 onclick="location.href = 'http://127.0.0.1:5000/p3';">below</button5>

</body>

</html>  

